
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <title></title>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <a class="navbar-brand" href="#">Navbar</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
              </li>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/add">Add New</a>
            </li>
              
              
            </ul>
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
          </div>
        </nav>
    </head>
    <body >
        <h1 class="display-1" align='center'>Edit Post</h1>
        
        <div class="container border mt-5 text-primary" id='nk'>
            <form  method="POST" action="/edit/<%- post.id %> ">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input class="form-control" type="text" name="title" id='title' value="<%- post.title  %> "><br>
                </div>
                <div class="form-group">
                    <label for="subtitle">Sub Title</label>
                    <input class="form-control" type="text" name="subtitle" id='subtitle' value="<%- post.subTitle  %>"><br>
                </div>
                <div class="form-group">
                    <label for="content">Content</label>
                    <span class="text-info"><textarea class="form-control" name="content"><%= post.content %> </textarea></span>
                    <!-- <input class="form-control" type="text" name="content" id='content' value="<%- post.content  %>"><br> -->
                </div>
                <input class="btn btn-primary mb-2" type="submit" value="Submit">
            </form>
        </div>
        
    </body>
    </html>