
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <title></title>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <a class="navbar-brand" href="#">Navbar</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
              </li>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/add">Add New</a>
            </li>
              
              
            </ul>
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
          </div>
        </nav>
    </head>
    <body >
      <div class=" mt-5 border text-primary" align='center '>
        <%- messages('messages', locals) %>
      </div>
      
        <div class="container border mt-5 text-primary" id='nk'>
          
            <% posts.forEach((post)=>{ %>
                    <h2><a href="/posts/<%- post._id %>" ><%= post.title %></a></h2> 
                    <h5><span class="text-secondary"><%= post.subTitle %></span></h5>
                    <h6><span class="text-info"><%= post.content %>  </span></h6>
                    <h9><span class="text-muted"><%=  post.date %> </span></h9>
                    </p>
                    <hr>
                
            <% }); %> 
        </div>
        
    </body>
    </html>